<%# TODO: Auto page refresh %>
<%# TODO: Skin it, make it pretty! %>
<h1>Agile Monitor</h1>
<% @projects.each do |project| %>
    <div class="project status <%#= project.current_status %>">
      <h2><%= project.name %></h2>
      <% if project.builds.present? %>
          <ul>
            <% project.builds.each do |build| %>
                <li><%= build.status %> - <%= build.last_build_status %> - <%#= build.build_time %></li>
            <% end %>
          </ul>
      <% end %>
      <% if project.builds.present? %>
          <span>Last built: <%= time_ago_in_words(project.builds.last.build_time) %> ago</span>
      <% end %>

    </div>
<% end %>

<% @buses.each do |bus| %>
    <div class="bus status">
      <h2><%= bus.name %></h2>
      <% bus.bus_times.each do |time| %>
          <h3><%= time.minutes %></h3>
      <% end %>
    </div>
<% end %>
