<!DOCTYPE html>
<html>
<head>
  <title>AgileMonitor</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all  %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

<%= yield %>

</body>
</html>
